django
django-floppyforms
python-dateutil
pillow       #(compile deps: zlib1g-dev, libjpeg-dev)
qrcode
defusedxml
pytz
pycrypto
ujson        #(optional)
django-otp
psycopg2
#psycopg2-binary
geopy

oauthlib
numpy
requests
requests-oauthlib
six
uwsgi
pyyaml
