{% extends "koota/base.html" %}

{% block body %}

<p><a href="https://en.wikipedia.org/wiki/Multi-factor_authentication">Two-factor
    auntentication</a> is a security method where you need more than
    just a password to log in.  Koota does this with the "time-based
    one time password algorithm".  You have an app on your phone
    which will generate one-time codes which you have to use to log
    in.  In Koota, some groups require this for higher security and
    you can't access any data without it.</p>

<p>Instructions:</p>

<ol>
  <li>Download the Google Authenticator app or some other
  "TOTP"-capable app.</li>
  <li>Link it to the following QR code.</li>
  <li>Test the code once on this page (required).</li>
  <li>Use the app to give the six-digit code when logging in.</li>
</ol>


{# Confirmed codes #}
{% if confirmed %}
<p>Your 2FA device is confirmed.  If have logged in using two-factor
authentication, and successfully re-verify your code, you can view the
QR code again so that you can re-use it.</p>

{% if request.user.is_verified and success %}
<img src="{% url 'otp-qr' %}">
{% endif %}
{% endif %}



{# Unconfirmed codes #}
{% if not confirmed %}
<h2>Unconfirmed code</h2>

<div class="alert alert-warning">
<p>Before you can use two-factor authentication to log in, you need to verify the
code once on this page to confirm that it works.</p>
</div>

<img src="{% url 'otp-qr' %}">
{% endif %}



<h2>Test or confirm code</h2>
You have to confirm the code once before it is activated!  Generate a
code and put it here to test.
{{ message }}
<form method="post">
  {% csrf_token %}
  {{ otp_form }}
  <input type="submit" value="Verify" />
</form>


{% endblock %}
