<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title%}Koota{% endblock %}</title>
  </head>

<body>

  <div style="border:1px solid black;">
  {% if user.is_authenticated %}
  Logged in as {{ user.username }}{% if user.is_verified %}(+OTP){% endif %}. <a href="{% url 'logout'%}?next={% url 'main' %}">Logout</a><br/>

  {% else %}
  <a href="{% url 'login2' %}">Login</a> <a href="{% url 'register-user' %}">Register</a><br/>
  {% endif %}
  {% for breadcrumb in request.breadcrumbs %}
    {% if breadcrumb.1 and not forloop.last %}<a href="{{ breadcrumb.1 }}">{{ breadcrumb.0 }}</a>{%else%} {{ breadcrumb.0 }}{% endif %} {% if not forloop.last %} &raquo; {% endif %}
  {% endfor %}
  </div><br>


{% block body %}
{{ body }}
{% endblock %}
</body>

</html>
