{% extends "koota/base.html" %}

{% block title %}Koota - change password{% endblock %}

{% block body %}

<form method="post" action="{% url 'change-password' %}">
{% csrf_token %}

{% if form.errors %}
<div class="alert alert-danger">
  {{ form.non_field_errors }}
  {% for error in form.errors.values %}<p>{{ form.error }}</p>{% endfor %}
  {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
</div>
{% endif %}


<p>Please enter your old password and new password twice.</p>

{{ form.as_p }}


<input class="btn btn-success" type="submit" value="Change password" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
