{% extends "koota/base.html" %}
{% block title %} {{ object.name}} | Koota {% endblock %}

{% block body %}

<h2>Basic information</h2>
<ul>
<li>Name: {{ object.name }}</li>
<li>Device public id: {{ object.public_id }}</li>
<li>Device type: {{ object.get_type_display }}</li>
{% if user != object.user %}<li>User: {{ object.user }}</li>{% endif %}
</ul>

<h2>Statistics</h2>
<ul>
<li>Number of data packets: {{data_number}}</li>
<li>Earliest data packet at: {{data_earliest}}</li>
<li>Latest data packet at: {{data_latest}}</li>
</ul>


<h2>Available converters</h2>

<ul>
  {% for converter in device_class.converters %}
  <li><a href="{% url 'device-data' public_id=object.public_id converter=converter.name %}">{{converter.name}}</a>
      {{converter.desc}}
  </li>
  {% endfor %}
</ul>

<h2>Latest data point</h2>

<p>This is the latest data packet.  It is probably not that useful by itself.</p>

<div class="panel panel-default">
  <div class="panel-body">
    {{data_latest_data}}
  </div>
</div>


{% endblock %}
