{% extends "koota/base.html" %}
{% block title %} {{ converter.name }} on {{device.name}} | Koota {% endblock %}

{% block body %}
<div class="container-fluid">

<h2>{{ converter.name }} on {{device.name}}</h2>

<div class="panel panel-default">
<div class="panel-body">
{% if converter.paging_disabled %}
<p>This converter can not browsed here.  Select a date range and
  then view csv in browser.</p>
{% endif %}


Download (all pages subject to filter) as:
{% for ext, format in download_formats %}<a class="btn btn-default btn-xs" href="{{request.path_info}}.{{ext}}?{{query_params_nopage}}">{{format}}</a>
{% endfor %}


<form method="get">
    {{ select_form }}
    <input class="btn btn-primary btn-xs" type="submit" value="Submit" />
</form>(Datetime format YYYY-MM-DD [HH:MM[:SS]].  Beware, reversing does not reverse values within data packets.)
</div> {# end panel body #}
</div> {# end panel #}


{% if pages_total > 1 %}

<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if page_prev %}<li><a href="?{{page_prev}}">&larr;</a></li>{% endif %}
    {% if page_next %}<li><a href="?{{page_next}}">&rarr;</a></li>{% endif %}
  </ul>
  <ul class="pagination">
    <li>{%if page_first%}<a href="?{{page_first}}">1</a>{%endif%}</li>
    {% for page in prev_pages %}
      {% if not page %}<li class="disabled"><a>...</a></li> {% else %}
      <li><a href="?{{page.1}}">{{page.0}}</a></li>
    {% endif %}{% endfor %}
    <li class="active"><a>{{page_number}}</a></li>
    {% for page in next_pages %}
      {% if not page %}<li class="disabled"><a>...</a></li> {% else %}
      <li><a href="?{{page.1}}">{{page.0}}</a></li>
    {% endif %}{% endfor %}
    <li>{%if page_last %}<a href="?{{page_last}}">{{pages_total}}</a>{%endif%}</li>
  </ul>
</nav>

{% endif %}


<table class="table table-condensed table-striped table-bordered" style="width: auto !important">
  <tr>{% for name in converter.header2 %}
    <th>{{ name }}</th>{% endfor %}
  </tr>
{% for row in table %}
  <tr>{% for item in row %}
    <td>{{ item }}</td>{% endfor %}
  </tr>
{% endfor %}
</table>


{% if pages_total > 1 %}

<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if page_prev %}<li><a href="?{{page_prev}}">&larr;</a></li>{% endif %}
    {% if page_next %}<li><a href="?{{page_next}}">&rarr;</a></li>{% endif %}
  </ul>
  <ul class="pagination">
    <li>{%if page_first%}<a href="?{{page_first}}">1</a>{%endif%}</li>
    {% for page in prev_pages %}
      {% if not page %}<li class="disabled"><a>...</a></li> {% else %}
      <li><a href="?{{page.1}}">{{page.0}}</a></li>
    {% endif %}{% endfor %}
    <li class="active"><a>{{page_number}}</a></li>
    {% for page in next_pages %}
      {% if not page %}<li class="disabled"><a>...</a></li> {% else %}
      <li><a href="?{{page.1}}">{{page.0}}</a></li>
    {% endif %}{% endfor %}
    <li>{%if page_last %}<a href="?{{page_last}}">{{pages_total}}</a>{%endif%}</li>
  </ul>
</nav>

{% endif %}


{% if converter.errors %}
<div class="panel panel-danger">
  <div class="panel-heading">Errors were detected during conversion:</div>
  <div class="panel-body">
   <p>{{ converter.errors }}</p>
   <p>{{ converter.errors_dict }}</p>
  </div>
</div>
{% endif %}

</div>
{% endblock %}
