{% extends "koota/base.html" %}

{% block body %}

Device list

<table>
  <tr>
    <th>type</th>
    <th>ID</th>
    <th>Name</th>
    <th>User</th>
  </tr>
  {% for device in object_list %}
  <tr>
    <td>{% if device.label.name == "Primary personal device" %}<b>{% endif %}{{device.human_name}}{% if device.label.name == "Primary personal device" %}</b>{% endif %}</td>
    <td>{{device.public_id}}</td>
    <td>{{device.name}}</td>
    <td>{{device.user}}</td>
    <td><a href="{% url 'device' public_id=device.public_id%}">Info</a></td>
    <td><a href="{% url 'device-config' public_id=device.public_id%}">Configure</a></td>
    <td>{{device.label.name}}</td>
  </tr>
  {% endfor %}
</table>

<a href="{{ device_create_url }}"> Create device</a>


{% endblock %}
