{% extends "koota/base.html" %}

{% block body %}

<a href="{% url 'device-list' %}">Return to list</a><p>

<h2>Basic information</h2>
<ul>
<li>Name: {{ object.name }}</li>
<li>Device id: {{ object.device_id }}</li>
<li>Device type: {{ object.get_type_display }}</li>
{% if user != object.user %}<li>User: {{ object.user }}</li>{% endif %}
</ul>

<h2>Statistics</h2>
<ul>
<li>Number of data points: {{data_number}}</li>
<li>Earliest data point at: {{data_earliest}}</li>
<li>Latest data point at: {{data_latest}}</li>
<li>Latest data: {{data_latest_data}}</li>
</ul>


<h2>Available analyzes</h2>

<ul>
  {% for converter in device_class.converters %}
  <li><a href="{% url 'device-data' device_id=object.device_id converter=converter.name %}">{{converter.name}}</a></li>
  {% endfor %}
</ul>

{% endblock %}
