{% extends "koota/base.html" %}

{% block body %}

<a href="{% url 'device-list' %}">Return to list</a><p>

<h2>Basic information</h2>
<ul>
<li>Name: {{ object.name }}</li>
<li>Device public id: {{ object.public_id }}</li>
<li>Device secret id (used for configuration): <b>{{ object.secret_id }}</b></li>
<li>Device type: {{ object.get_type_display }}</li>
{% if user != object.user %}<li>User: {{ object.user }}</li>{% endif %}
</ul>

<h2>Data</h2>
<ul>
<li>Number of data points: {{data_number}}</li>
<li>Earliest data point at: {{data_earliest}}</li>
<li>Latest data point at: {{data_latest}}</li>
</ul>

{% if raw_instructions %}
<h2>Configuration instructions</h2>
{{ raw_instructions|safe }}
{% endif %}


{% if qr != False %}
<h2>Configuration QR code</h2>
Scan this with the device<p>
<img src="{% url 'device-qr' public_id=object.public_id %}">
{% endif %}

<h2>Change device properties</h2>

Here, you can adjust some basic properties of your device.  The name
is just for your use.  The usage (primary, secondary) will be passed
on to researchers.  Only primary and secondary devices are considered
for research projects.  The comment field is currently unused, but
could possibly be used for research.  The device type should not
normally be changed unless you configured it wrong at the start.  Make
a new server device if you need to test other device types.

<form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>


{% endblock %}
