{% extends "koota/base.html" %}

{% block body %}

<a href="{% url 'device-list' %}">Return to list</a><p>

<h2>Basic information</h2>
<ul>
<li>Name: {{ object.name }}</li>
<li>Device id: {{ object.device_id }}</li>
<li>Device type: {{ object.get_type_display }}</li>
{% if user != object.user %}<li>User: {{ object.user }}</li>{% endif %}
</ul>
{{ context }}

<h2>Statistics</h2>
<ul>
<li>Number of data points: {{data_number}}</li>
<li>Earliest data point at: {{data_earliest}}</li>
<li>Latest data point at: {{data_latest}}</li>
<li>Latest data: {{data_latest_data}}</li>
<li></li>
</ul>

{% if raw_instructions %}
<h2>Configuration instructions</h2>
{{ raw_instructions|safe }}
{% endif %}


{% if qr != False %}
<h2>Configuration QR code</h2>
Scan this with the device<p>
<img src="{% url 'device-qr' id=object.device_id %}">
{% endif %}


{% endblock %}
