{% extends "koota/base.html" %}

{% block body %}

<h2>Device list</h2>

<p><a class="btn btn-primary" href="{{ device_create_url }}"> Create device</a></p>

<div class="table-responsive">
<table class="table table-striped table-condensed">
  <tr>
    <th>Type</th>
    <th>ID</th>
    <th>Name</th>
    {%if request.user.is_admin %}<th>User</th>{% endif %}
    <th></th>
    <th></th>
    <th>Usage</th>
  </tr>
  {% for device in object_list %}
  <tr{% if device.label.analyze and not device.archived %} class="success"{% endif %}>
    <td>{{device.label.shortname}}{% if device.archived %} (Archived){% endif %}</td>
    <td>{% if device.label.slug == "primary" %}<b>{% endif %}{{device.human_name}}{% if device.label.slug == "primary" %}</b>{% endif %}</td>
    <td>{{device.public_id}}</td>
    <td>{{device.name}}</td>
    {%if request.user.is_admin %}<td>{{device.user}}</td>{% endif %}
    <td><a class="btn btn-primary btn-xs" href="{% url 'device' public_id=device.public_id%}">Data</a></td>
    <td><a class="btn btn-info btn-xs" href="{% url 'device-config' public_id=device.public_id%}">Configure</a></td>
  </tr>
  {% endfor %}
</table>
</div>


{% endblock %}
