{% extends "koota/base.html" %}

{% block body %}

{% if not all_valid %}
<div class="alert alert-danger">
  Your edits need corrections!  Please see below.
</div>
{% endif %}
{% if any_changed and all_valid %}
<div class="alert alert-success">
  Your edits have been recorded.
</div>
{% endif %}


<h2>Basic information</h2>
<ul>
<li>Name: {{ object.name }}</li>
<li>Device public id: {{ object.public_id }}</li>
<li>Device secret id (used for configuration): <b>{{ object.secret_id }}</b></li>
<li>Device type: {{ object.get_type_display }}</li>
{% if request.user.is_superuser or request.user != object.user %}<li>User: {{ object.user }}</li>{% endif %}
</ul>

<h2>Data</h2>
<ul>
<li>Number of data points: {{data_number}}</li>
<li>Earliest data point at: {{data_earliest}}</li>
<li>Latest data point at: {{data_latest}}</li>
</ul>

{% if raw_instructions %}
<h2>Configuration instructions</h2>
{{ raw_instructions|safe }}
{% endif %}


{% if qr %}
<h2>Configuration QR code</h2>
Scan this with the device<p>
<img src="{% url 'device-qr' public_id=object.public_id %}">
{% endif %}

{% if form %}
<h2>Change device properties</h2>

<div class="alert alert-danger">
  You should almost never change the settings here, unless you
  created the device incorrectly.  If these need changing, consider
  making a new device instead, and leaving the old one as archive.
</div>

<p>Here, you can adjust some basic properties of your device.  The name
is just for your use.  The usage (primary, secondary) will be passed
on to researchers.  Only primary and secondary devices are considered
for research projects.  The comment field is currently unused, but
could possibly be used for research.  The device type should not
normally be changed unless you configured it wrong at the start.  Make
a new server device if you need to test other device types.</p>

<div class="panel panel-default">
  <div class="panel-heading">Standard device configuration</div>
  <div class="panel-body">
    <form method="post">{% csrf_token %}
      <table class="table">
      {{ form.as_table }}
      </table>
      <input class="btn btn-primary" type="submit" value="Submit" name="submit_device_config"/>
    </form>
  </div>
</div>
{% endif %}

{% if custom_forms %}
<h2>Extra device configuration</h2>

{% for custom_form in custom_forms %}
<div class="panel panel-default">
  <div class="panel-heading">{{custom_form.name}}</div>
  <div class="panel-body">
    <form method="post">{% csrf_token %}
      <table class="table">
      {{ custom_form.form.as_table }}
      </table>
      <input class="btn btn-primary" type="submit" value="Submit" name="submit_{{custom_form.key}}"/>
    </form>
  </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}
