{% extends "koota/base.html" %}

{% block body %}

Device list

<table>
  <tr>
    <th>Name</th>
    <th>type</th>
    <th>User</th>
  </tr>
  {% for device in object_list %}
  <tr>
    <td>{{device.name}}</td>
    <td>{{device.get_type_display}}</td>
    <td>{{device.user}}</td>
    <td><a href="{% url 'device' device_id=device.device_id%}">Info</a></td>
    <td><a href="{% url 'device-config' device_id=device.device_id%}">Configure</a></td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'device-create' %}"> Create device</a>


{% endblock %}
