{% extends "koota/base.html" %}

{% block body %}

<h2>Basic information</h2>
<ul>
<li>Name: {{ group.name }}</li>
</ul>

<h2>Statistics</h2>
<ul>
<li>Number of subjects: {{ group.subjects.count }}</li>
<li>Effective number of subjects: {{ n_subjects }}</li>
<li>Start time: {{ group.ts_start|date:"c" }}</li>
<li>End time: {{ group.ts_end|date:"c" }}</li>
</ul>


<h2>Available analyzes</h2>

<ul>
  {% for converter in G.converters %}
  <li><a href="{% url 'group-data' group_name=group.slug converter=converter.name %}">{{converter.name}}</a>
      {{converter.desc}}
  </li>
  {% endfor %}
</ul>




{% endblock %}
