{% extends "koota/base.html" %}

{% block title %}{{ group.dbrow.name }} | Koota{% endblock%}

{% block body %}

<h2>Basic information</h2>
<ul>
<li>Name: {{ group.dbrow.name }}</li>
{% if is_staff %}<li>Number of subjects: {{ group.dbrow.subjects.count }}</li>
<li>Effective number of subjects: {{ n_subjects }}</li>{% endif %}
<li>Start time: {{ group.dbrow.ts_start|date:"c" }}</li>
<li>End time: {{ group.dbrow.ts_end|date:"c" }}</li>
</ul>



{% if is_admin %}
You are an admin, so you can
<a href="{% url 'group-update' group_name=group.dbrow.slug %}" class="btn btn-warning btn-xs">Configure this group</a>
{% endif %}



{% if is_subject %}
<h2>Your data</h2>
<p>Since you are a subject of this group, the group has access to these
converters from your primary and secondary devices subject to the
limits above.</p>

<ul>{% for converter, devices in subject_converters_with_devices %}
  <li>{{converter.name}}: {{converter.desc}}</li>
  {#{% if devices %}#}
    <ul>{% for device in devices %}
    <li>On <code>{{ device.name }}</code>: <a href="{% url "device-data" public_id=device.public_id converter=converter.converter.name %}">data</a></li>
    {% endfor %}</ul>
  {#{% endif %}#}{% empty %}
  <li>This group has no converters currently defined.</li>
  {% endfor %}
</ul>

{% endif %}{# is_subject #}




{% if is_staff %}

<h2>Researchers</h2>

<table class="table table-condensed table-striped" style="width: auto">
<tr><th>username</th><th>researcher</th><th>manager</th><th>admin</th></tr>
{% for researcher in group_researchers %}
<tr><td>{{ researcher.user.username }}</td> <td>{{researcher.researcher|default_if_none:"default"}}</td> <td>{{researcher.manager|default_if_none:"default"}}</td> <td>{{researcher.admin|default_if_none:"default"}}</td></tr>
{% endfor %}
</table>


<h2>Available converters</h2>

{% if not is_researcher %}
<p>You do not have "researcher" permission, so you can not view
  converters or individual subject data.</p>
{% else %}
<ul>
  {% if group.converters %}
  {% for converter in group.converters %}
  <li><a href="{% url 'group-data' group_name=group.dbrow.slug converter=converter.name %}">{{converter.name}}</a>
      {{converter.desc}}
  </li>
  {% endfor %}
  {% else %}
    <li>There are no converters currently defined</li>
  {% endif %}
</ul>
{% endif %}


{% if group.dbrow.managed %}

<h2>Add a user</h2>
<a class="btn btn-warning btn-xs" href="{% url 'group-user-create' group_name=group.dbrow.slug %}">Add a user to this group</a>

<h2>Group users</h2>
<p>This is a managed group, users are below.</p>

<table class="table table-condensed table-striped table-bordered" style="width: auto !important">
  <tr class="info">
    <th>Hash</th>
    {% if group.dbrow.nonanonymous %}<th>Username</th>{% endif %}
    <th>ID</th>
    <th></th>
    <th>Type</th>
    <th>Usage</th>
    <th>#wk/last</th>
  </tr>
{% for groupsubject in group_subjects %}
  <tr>
    <th>{{ groupsubject.hash }}</th>
    {% if group.dbrow.nonanonymous %}<td>{{ groupsubject.hash_if_needed }}</td>{%endif %}
    <td colspan="5">
      <a class="btn btn-primary btn-xs" href="{% url 'group-subject-detail' group_name=group.dbrow.slug gs_id=groupsubject.id %}">Subject data/info</a>
       <a class="btn btn-warning btn-xs" href="{% url 'group-subject-device-create' group_name=group.dbrow.slug gs_id=groupsubject.id %}">Create device for subject</a></td>
  </tr>
  {% if groupsubject.notes%}<tr> <td></td> <td></td> <td colspan="5"><i>Notes: </i>{{ groupsubject.notes|slice:":120" }}</td></tr>{% endif %}
    {% if show_subject_devices|default_if_none:True %}
    {% for device in groupsubject.allowed_devices %}
      <tr {% if device.label.analyze %}class="success"{% endif %}><td></td><td></td>
        <td>{{ device.public_id }}</td>
        <td><a class="btn btn-info btn-xs" href="{% url 'group-subject-device-config' group_name=group.dbrow.slug gs_id=groupsubject.id public_id=device.public_id %}">Config</a></td>
        {# <td><a href="{% url 'group-subject-device-detail' group_name=group.dbrow.slug gs_id=groupsubject.id public_id=device.public_id %}">Data</a></td> #}
        <td>{% if device.label.slug == "primary" %}<b>{% endif %}{{device.human_name}}{% if device.label.slug == "primary" %}</b>{% endif %}</td>
        <td>{{ device.label.shortname }}</td>
        <td>{{ device.summary_text}} <span style="color: {{device.summary_color|safe}}; float:right; border-radius: 50%">{{device.summary_char|safe}}</span></td>
      </tr>
    {% endfor %}
    {% endif %}
{% endfor %}
</table>

{% endif %}

{% endif %}{# is_staff #}

{% endblock %}
