{% extends "koota/base.html" %}

{% block body %}

{% if form.non_field_errors %}
<div class="alert alert-danger">
  {{ form.non_field_errors }}
  {% for error in form.errors.values %}<p>{{ form.error }}</p>{% endfor %}
</div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<div class="alert alert-warning">Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</div>
{% else %}
<div class="alert alert-warning">Please login to see this page.</div>
{% endif %}
{% endif %}

<div class="panel panel-default">
<div class="panel-body">
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{form.username.errors}}{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{form.password.errors}}{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
    {% if form.get_user %}
    {# <tr> {{ form.otp_device.errors }}{{ form.otp_device.label_tag }}{{ form.otp_device }} </tr> #}
    {% endif %}
    <tr>
      <td>{{ form.otp_token.errors }}{{ form.otp_token.label_tag }}</td>
      <td>{{ form.otp_token }} </td>
  </table>

  <input class="btn btn-success" type="submit" value="Login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
