{% extends "koota/base.html" %}

{% block body %}

{% if not request.user.is_anonymous %}
<h1>Your account</h1>

<p><a class="btn btn-default btn-success" href="{% url 'device-list' %}">Your device list</a></p>

{% if anon_id_token %}
<p>Your anonymous ID: "{{ anon_id_token.token }}".  Use this to keep
  your account name secret if you contact the administrators.</p>
{% endif %}

<h1>Your groups</h1>
<p><a class="btn btn-default btn-success" href="{% url 'group-join' %}">Join a group</a></p>

{% if user.subject_of_groups.exists %}
<p>You are a subject of the following groups:
<ul>{% for group in user.subject_of_groups.all %}
  <li>{{group.name}}</li>{% endfor %}
</ul>
</p>
{% endif %}

{% if user.researcher_of_groups.exists %}
<p>You are a researcher of the following groups:
<ul>{% for group in user.researcher_of_groups.all %}
  <li><a href="{% url 'group-detail' group_name=group.slug %}">{{group.name}}</a></li>{% endfor %}
</ul>
</p>
{% endif %}


{% endif %}


<h1>Documentation</h1>

<p><a href="https://github.com/CxAalto/koota-server/wiki/UserGuide">User Guide</a> (and general wiki)</p>

<p><a href="https://github.com/CxAalto/koota-server">Code</a></p>

<p><a href="https://github.com/CxAalto/koota-server/issues">Issue tracker</a></p>


{% endblock%}
