{% extends "koota/base.html" %}

{% block body %}

{% if not request.user.is_anonymous %}

<h1>Your Koota account</h1>

{% if anon_id_token %}
<p>Your anonymous ID: "{{ anon_id_token.token }}".  Use this to keep
  your account name secret if you contact the administrators.</p>
{% endif %}



<h2 id="devices">Your devices</h2>
<p><a class="btn btn-default btn-success" href="{% url 'device-list' %}">Your device list</a></p>


<h2 id="groups">Your groups</h2>
<p><a class="btn btn-default btn-success" href="{% url 'group-join' %}">Join a group</a></p>

{% if subject_of_groups.exists %}
<p>You are a subject of the following groups:
<ul>{% for group in subject_of_groups.all %}
  <li><a href="{% url 'group-detail' group_name=group.slug %}">{{group.name}}</a></li>{% endfor %}
</ul>
</p>
{% endif %}

{% if researcher_of_groups.exists %}
<p>You are a researcher of the following groups:
<ul>{% for group in researcher_of_groups.all %}
  <li><a href="{% url 'group-detail' group_name=group.slug %}">{{group.name}}</a></li>{% endfor %}
</ul>
</p>
{% endif %}


{% else %}
You are not logged in.

{% endif %}


<h2 id="docs">Documentation</h2>

<p><a href="https://github.com/CxAalto/koota-server/wiki/UserGuide">User Guide</a> (and general wiki)</p>

<p><a href="https://github.com/CxAalto/koota-server">Code</a></p>

<p><a href="https://github.com/CxAalto/koota-server/issues">Issue tracker</a></p>


{% endblock%}
