{% extends "koota/base.html" %}

{% block body %}

By registering with this service, you agree with
the <a href="https://github.com/CxAalto/koota-server/wiki/PrivacyPolicy">privacy policy</a>.
In particular, you understand that:

<ul>
  <li>Use of this service is voluntary.</li>
  <li>We store all data sent to the collection system.</li>
  <li>The data stored may contain detailed records of human behavior.</li>
  <li>You consent to this data collection, but nothing is collected
  unless you agree separately.</li>
  <li>Data is private to you, but may be provided for
  research <b>after</b> you give a separate consent .</li>
</ul>
<p>


<div class="panel panel-default">
  <div class="panel-body">
    <form action="" method="post">{% csrf_token %}
      <table>
	{{ form.as_table }}
      </table>
      <input class="btn btn-success" type="submit" value="Register" />
    </form>
  </div>
</div>

<h2>Need a username?</h2>
{% if random_username %}
<p>Want a random anonymous username?  Try "{{ random_username }}".</p>
{% endif %}

{% if privacy_text %}
<h2>Full privacy policy:</h2>
{{ privacy_text|safe }}
{% endif %}

{% endblock %}
