<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{survey_name}}</title>
    <link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery-1.12.0.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      body { font-size: medium; }
      .errorlist { color: red; }
      .section-heading { font-size: x-large; }
    </style>
    {{ form.media }}
  </head>

<body>

<div class="container-fluid">
<div class="row">
<div class="col-xs-12">

{% if success %}
<p style="padding-bottom: 25%">Survey successful.  You may close the window.</p>
{% endif %}

{% if form.errors %}
<div class="errorlist">Please check your answers!</div>
{% endif %}

<h1>{{survey_name}}</h1>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" class="text-center" />
<!--<div class="btn-group-vertical" role="group" aria-label="...">

</div>-->
</form>

</div>
</div>
</div>

<div style="padding-bottom: 50%;"></div>

</body>
</html>




